/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Code;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #676056;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #676056;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #676056;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #676056;
	max-id: 5;
	cell-padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
	cell-padding-left: 10px;
	cell-padding-top: 6px;
	cell-padding-bottom: 2px;
	page-break-inside: avoid;
	background-color: #ffffff;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 100%;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	id: 5;
	name: Header1;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-top: 10px;
}


/* Cell Styles: */
 
.TableStyle-Code
{
	border-collapse: collapse;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #676056;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #676056;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #676056;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #676056;
	border-bottom-width: 1px;
	margin-top: 0px;
	margin-bottom: 10px;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-Code-Column-Column2
{
	width: 100%;
}

.TableStyle-Code-Head-Header1
{
	
}

.TableStyle-Code-HeadI-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadE-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadF-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadH-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadD-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadC-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadB-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadA-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Code-HeadG-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Code-FootI-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootI-Column2- p
{
	
}

.TableStyle-Code-FootE-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootE-Column2- p
{
	
}

.TableStyle-Code-FootF-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootF-Column2- p
{
	
}

.TableStyle-Code-FootH-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootH-Column2- p
{
	
}

.TableStyle-Code-FootD-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootD-Column2- p
{
	
}

.TableStyle-Code-FootC-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootC-Column2- p
{
	
}

.TableStyle-Code-FootB-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootB-Column2- p
{
	
}

.TableStyle-Code-FootA-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootA-Column2- p
{
	
}

.TableStyle-Code-FootG-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 2px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-FootG-Column2- p
{
	
}

.TableStyle-Code-Body-Body1
{
	
}

.TableStyle-Code-BodyI-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyI-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyE-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyE-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyF-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyF-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyH-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyH-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyD-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyD-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyC-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyC-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyB-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyB-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyA-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyA-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-Code-BodyG-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Code-BodyG-Column2-Body1 p
{
	font-weight: normal;
}


