/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	name: FieldDesc;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	cell-padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 0px;
	widows: 2;
	orphans: 2;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 30%;
	text-align: left;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 70%;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	background-color: #ffffff;
	separator-color: #000000;
	name: Header1;
	id: 3;
	text-align: left;
	size: 90%;
	font-family: Arial;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-top: 10px;
	background-color: #ffffff;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	background-color: #ffffff;
	separator-color: #000000;
	name: Body2;
	id: 2;
	cell-padding-top: 10px;
}


/* Cell Styles: */
 
.TableStyle-FieldDesc
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-FieldDesc .Column-Column1
{
	width: 30%;
}

.TableStyle-FieldDesc .Column-Column2
{
	width: 70%;
}

.TableStyle-FieldDesc .Head-Header1
{
	height: 90%;
}

.TableStyle-FieldDesc .HeadI-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadI-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadE-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDesc .HeadE-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadF-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDesc .HeadF-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadH-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadH-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadD-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDesc .HeadD-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadC-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadC-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadB-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadB-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadA-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadA-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadG-Column1-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadG-Column1-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadI-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadI-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadE-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDesc .HeadE-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadF-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDesc .HeadF-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadH-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadH-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadD-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-FieldDesc .HeadD-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadC-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadC-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadB-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadB-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadA-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadA-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .HeadG-Column2-Header1
{
	padding-right: 10px;
	vertical-align: top;
	font-family: Arial;
	font-weight: bold;
	text-align: left;
	background-color: #ffffff;
}

.TableStyle-FieldDesc .HeadG-Column2-Header1 p
{
	font-family: Arial;
	font-weight: bold;
}

.TableStyle-FieldDesc .FootI-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootI-Column1- p
{
	
}

.TableStyle-FieldDesc .FootE-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .FootE-Column1- p
{
	
}

.TableStyle-FieldDesc .FootF-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootF-Column1- p
{
	
}

.TableStyle-FieldDesc .FootH-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .FootH-Column1- p
{
	
}

.TableStyle-FieldDesc .FootD-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootD-Column1- p
{
	
}

.TableStyle-FieldDesc .FootC-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootC-Column1- p
{
	
}

.TableStyle-FieldDesc .FootB-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .FootB-Column1- p
{
	
}

.TableStyle-FieldDesc .FootA-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootA-Column1- p
{
	
}

.TableStyle-FieldDesc .FootG-Column1-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootG-Column1- p
{
	
}

.TableStyle-FieldDesc .FootI-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootI-Column2- p
{
	
}

.TableStyle-FieldDesc .FootE-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootE-Column2- p
{
	
}

.TableStyle-FieldDesc .FootF-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootF-Column2- p
{
	
}

.TableStyle-FieldDesc .FootH-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootH-Column2- p
{
	
}

.TableStyle-FieldDesc .FootD-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootD-Column2- p
{
	
}

.TableStyle-FieldDesc .FootC-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootC-Column2- p
{
	
}

.TableStyle-FieldDesc .FootB-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootB-Column2- p
{
	
}

.TableStyle-FieldDesc .FootA-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootA-Column2- p
{
	
}

.TableStyle-FieldDesc .FootG-Column2-
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .FootG-Column2- p
{
	
}

.TableStyle-FieldDesc .Body-Body1
{
	
}

.TableStyle-FieldDesc .BodyI-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyE-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyF-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyH-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyD-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyC-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyB-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyA-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyG-Column1-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyG-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyI-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyI-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyE-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyE-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyF-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyF-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyH-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyH-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyD-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyD-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyC-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyC-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyB-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyB-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyA-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyA-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .BodyG-Column2-Body1
{
	padding-right: 10px;
	font-weight: normal;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyG-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-FieldDesc .Body-Body2
{
	
}

.TableStyle-FieldDesc .BodyI-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyI-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyE-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .BodyE-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyF-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyF-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyH-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .BodyH-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyD-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyD-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyC-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyC-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyB-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-FieldDesc .BodyB-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyA-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyA-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyG-Column1-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyG-Column1-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyI-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyI-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyE-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyE-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyF-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyF-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyH-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyH-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyD-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyD-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyC-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyC-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyB-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyB-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyA-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyA-Column2-Body2 p
{
	
}

.TableStyle-FieldDesc .BodyG-Column2-Body2
{
	padding-right: 10px;
	background-color: #ffffff;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-FieldDesc .BodyG-Column2-Body2 p
{
	
}


