/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		border-left-style: none;
		border-left-width: 1px;
		border-left-color: #000000;
		border-right-style: none;
		border-right-width: 1px;
		border-right-color: #000000;
		border-bottom-style: none;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #79756a;
		separator-style: none;
		separator-width: 0px;
		separator-color: #cac2b4;
		font-size: 9pt;
		font-family: Arial;
		font-variant: small-caps;
		color: #f7f3eb;
		font-weight: bold;
		font-style: normal;
	}

	mcTableBodyStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #989287;
	}

	mcTableBodyStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #989287;
	}
}

mcTableStyle
{
	name: Flush-25-75;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
	max-width: 900px;
	cell-padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-right: 0px;
	widows: 2;
	orphans: 2;
	cell-padding-left: 0px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 125px;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 0px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 3;
	text-align: left;
	size: 18px;
	font-size: 9pt;
	font-family: Arial;
	cell-padding-bottom: 3px;
	vertical-align: bottom;
	color: #f7f3eb;
	font-weight: bold;
	font-style: normal;
	font-variant: small-caps;
	background-color: #79756a;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #989287;
	name: Body1;
	id: 1;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #989287;
	name: Body2;
	id: 2;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Flush-25-75
	{
		border-left-style: none;
		border-left-color: #000000;
		border-left-width: 1px;
		border-right-style: none;
		border-right-color: #000000;
		border-right-width: 1px;
		border-bottom-style: none;
		border-bottom-color: #000000;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-Flush-25-75-HeadI-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadI-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadE-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-HeadE-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadF-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-HeadF-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadH-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadH-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadD-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-HeadD-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadC-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadC-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadB-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadB-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadA-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadA-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadG-Column1-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadG-Column1-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadI-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadI-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadE-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-HeadE-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadF-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-HeadF-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadH-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadH-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadD-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-HeadD-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadC-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadC-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadB-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadB-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadA-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadA-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-HeadG-Column2-Header1
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-Flush-25-75-HeadG-Column2-Header1 p
	{
		color: #f7f3eb;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-Flush-25-75-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyE-Column2-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyF-Column2-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyD-Column2-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyE-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyF-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyD-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyE-Column2-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyF-Column2-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-Flush-25-75-BodyD-Column2-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}
}

.TableStyle-Flush-25-75
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-Flush-25-75-Column-Column1
{
	width: 125px;
}

.TableStyle-Flush-25-75-Column-Column2
{
	
}

.TableStyle-Flush-25-75-Head-Header1
{
	height: 18px;
}

.TableStyle-Flush-25-75-HeadI-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadI-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadE-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Flush-25-75-HeadE-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadF-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Flush-25-75-HeadF-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadH-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadH-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadD-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Flush-25-75-HeadD-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadC-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadC-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadB-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadB-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadA-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadA-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadG-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadG-Column1-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadI-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadI-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadE-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Flush-25-75-HeadE-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadF-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Flush-25-75-HeadF-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadH-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadH-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadD-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-Flush-25-75-HeadD-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadC-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadC-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadB-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadB-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadA-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadA-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-HeadG-Column2-Header1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-Flush-25-75-HeadG-Column2-Header1 p
{
	color: #f7f3eb;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-Flush-25-75-FootI-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-FootI-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootE-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-FootE-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootF-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-FootF-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootH-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-FootH-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootD-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-FootD-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootC-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-FootC-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootB-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-FootB-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootA-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-FootA-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootG-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-FootG-Column1- p
{
	
}

.TableStyle-Flush-25-75-FootI-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootI-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootE-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootE-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootF-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootF-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootH-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootH-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootD-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootD-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootC-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootC-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootB-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootB-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootA-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootA-Column2- p
{
	
}

.TableStyle-Flush-25-75-FootG-Column2-
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-FootG-Column2- p
{
	
}

.TableStyle-Flush-25-75-Body-Body1
{
	
}

.TableStyle-Flush-25-75-BodyI-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyE-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyF-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyH-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyD-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyC-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyB-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyA-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyG-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyI-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyE-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyF-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyH-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyD-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyC-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyB-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyA-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-BodyG-Column2-Body1
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyG-Column2-Body1 p
{
	
}

.TableStyle-Flush-25-75-Body-Body2
{
	
}

.TableStyle-Flush-25-75-BodyI-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyE-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyF-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyH-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyD-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyC-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyB-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Flush-25-75-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyA-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyG-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 0px;
}

.TableStyle-Flush-25-75-BodyG-Column1-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyI-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyI-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyE-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyE-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyF-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyF-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyH-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyH-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyD-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyD-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyC-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyC-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyB-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyB-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyA-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyA-Column2-Body2 p
{
	
}

.TableStyle-Flush-25-75-BodyG-Column2-Body2
{
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Flush-25-75-BodyG-Column2-Body2 p
{
	
}


