/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: OverviewBox_2-col;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #5b8116;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #5b8116;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #5b8116;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #5b8116;
	max-id: 7;
	cell-padding-right: 10px;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
	cell-padding-left: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	page-break-inside: avoid;
	background-color: #ffffff;
	margin-left: 0em;
	margin-right: 0em;
}

mcTableColumnStyle
{
	span: 1;
	id: 7;
	name: Column1;
	size: 150px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	id: 5;
	name: Header1;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-top: 1.12em;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
}


/* Cell Styles: */
 
.TableStyle-OverviewBox_2-col
{
	border-collapse: collapse;
	background-color: #ffffff;
	border-left-style: solid;
	border-left-color: #5b8116;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #5b8116;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #5b8116;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5b8116;
	border-bottom-width: 1px;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-OverviewBox_2-col-Column-Column1
{
	width: 150px;
}

.TableStyle-OverviewBox_2-col-Column-Column2
{
	
}

.TableStyle-OverviewBox_2-col-Head-Header1
{
	
}

.TableStyle-OverviewBox_2-col-HeadI-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadI-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadE-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadE-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadF-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadF-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadH-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadH-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadD-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadD-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadC-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadC-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadB-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadB-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadA-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadA-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadG-Column1-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-HeadG-Column1-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadI-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadI-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadE-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadE-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadF-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadF-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadH-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadH-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadD-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadD-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadC-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadC-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadB-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadB-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadA-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadA-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-HeadG-Column2-Header1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-HeadG-Column2-Header1 p
{
	
}

.TableStyle-OverviewBox_2-col-FootI-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootI-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootE-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootE-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootF-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootF-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootH-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootH-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootD-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootD-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootC-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootC-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootB-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootB-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootA-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootA-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootG-Column1-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-FootG-Column1- p
{
	
}

.TableStyle-OverviewBox_2-col-FootI-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootI-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootE-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootE-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootF-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootF-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootH-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootH-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootD-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootD-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootC-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootC-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootB-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootB-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootA-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootA-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-FootG-Column2-
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-FootG-Column2- p
{
	
}

.TableStyle-OverviewBox_2-col-Body-Body1
{
	
}

.TableStyle-OverviewBox_2-col-BodyI-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
}

.TableStyle-OverviewBox_2-col-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyE-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-OverviewBox_2-col-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyF-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-OverviewBox_2-col-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyH-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
}

.TableStyle-OverviewBox_2-col-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyD-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-OverviewBox_2-col-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyC-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
}

.TableStyle-OverviewBox_2-col-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyB-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
}

.TableStyle-OverviewBox_2-col-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyA-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
}

.TableStyle-OverviewBox_2-col-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyG-Column1-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
}

.TableStyle-OverviewBox_2-col-BodyG-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyI-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyI-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyE-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyE-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyF-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyF-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyH-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyH-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyD-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyD-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyC-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyC-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyB-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyB-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyA-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyA-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-BodyG-Column2-Body1
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	padding-top: 1.12em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyG-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-OverviewBox_2-col-Body-Body2
{
	
}

.TableStyle-OverviewBox_2-col-BodyI-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyI-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyE-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyE-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyF-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyF-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyH-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyH-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyD-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyD-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyC-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyC-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyB-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyB-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyA-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyA-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyG-Column1-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-OverviewBox_2-col-BodyG-Column1-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyI-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyI-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyE-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyE-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyF-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyF-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyH-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyH-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyD-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyD-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyC-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyC-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyB-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyB-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyA-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyA-Column2-Body2 p
{
	
}

.TableStyle-OverviewBox_2-col-BodyG-Column2-Body2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-OverviewBox_2-col-BodyG-Column2-Body2 p
{
	
}


