/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		border-left-style: none;
		border-left-width: 1px;
		border-left-color: #000000;
		border-right-style: none;
		border-right-width: 1px;
		border-right-color: #000000;
		border-bottom-style: none;
		border-bottom-width: 1px;
		border-bottom-color: #000000;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		background-color: #79756a;
		separator-style: none;
		separator-width: 0px;
		separator-color: #cac2b4;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #cac2b4;
		font-size: 9pt;
		font-family: Arial;
		color: #ffffff;
		font-weight: bold;
		font-style: normal;
	}

	mcTableBodyStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #989287;
	}

	mcTableBodyStyle
	{
		separator-style: none;
		separator-width: 1px;
		separator-color: #989287;
	}
}

mcTableStyle
{
	name: 140-35-auto;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 5;
	max-width: 900px;
	cell-padding-right: 10px;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-left: 0px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	margin-right: 0px;
	mc-hide-bottom-ruling: true;
	overflow: visible;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	size: 140px;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 4px;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	text-align: left;
	vertical-align: top;
	size: 35px;
	cell-padding-top: 10px;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column3;
	cell-padding-top: 10px;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 0px;
	separator-color: #000000;
	name: Header1;
	id: 3;
	text-align: left;
	size: 18px;
	font-size: 9pt;
	font-family: Arial;
	cell-padding-bottom: 3px;
	vertical-align: bottom;
	color: #ffffff;
	font-weight: bold;
	font-style: normal;
	background-color: #79756a;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #989287;
	name: Body1;
	id: 1;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #989287;
	name: Body2;
	id: 2;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-140-35-auto
	{
		border-left-style: none;
		border-left-color: #000000;
		border-left-width: 1px;
		border-right-style: none;
		border-right-color: #000000;
		border-right-width: 1px;
		border-bottom-style: none;
		border-bottom-color: #000000;
		border-bottom-width: 1px;
		border-spacing: 0px 0px;
	}

	.TableStyle-140-35-auto-HeadI-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadI-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadE-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadE-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadF-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadF-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadH-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadH-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadD-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadD-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadC-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadC-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadB-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadB-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadA-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadA-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadG-Column1-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadG-Column1-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadI-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadI-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadE-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadE-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadF-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadF-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadH-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadH-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadD-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadD-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadC-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadC-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadB-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadB-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadA-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadA-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadG-Column2-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadG-Column2-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadI-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadI-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadE-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadE-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadF-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadF-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadH-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadH-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadD-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
		border-bottom-width: 0px;
		border-bottom-color: #cac2b4;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-HeadD-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadC-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadC-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadB-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadB-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadA-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadA-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-HeadG-Column3-Header1
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
		background-color: #79756a;
	}

	.TableStyle-140-35-auto-HeadG-Column3-Header1 p
	{
		color: #ffffff;
		font-family: Arial;
		font-size: 9pt;
		font-weight: bold;
		font-style: normal;
	}

	.TableStyle-140-35-auto-BodyE-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyF-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyD-Column1-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyE-Column2-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyF-Column2-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyD-Column2-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyE-Column3-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyF-Column3-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyD-Column3-Body1
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyE-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyF-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyD-Column1-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyE-Column2-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyF-Column2-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyD-Column2-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyE-Column3-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyF-Column3-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}

	.TableStyle-140-35-auto-BodyD-Column3-Body2
	{
		border-bottom-width: 1px;
		border-bottom-color: #989287;
		border-bottom-style: none;
	}
}

.TableStyle-140-35-auto
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	overflow: visible;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	border-spacing: 0px 0px;
}

.TableStyle-140-35-auto-Column-Column1
{
	width: 140px;
}

.TableStyle-140-35-auto-Column-Column2
{
	width: 35px;
}

.TableStyle-140-35-auto-Column-Column3
{
	
}

.TableStyle-140-35-auto-Head-Header1
{
	height: 18px;
}

.TableStyle-140-35-auto-HeadI-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadE-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadF-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadH-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadD-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadC-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadB-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadA-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadG-Column1-Header1
{
	padding-right: 10px;
	padding-top: 0px;
	padding-left: 4px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadI-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadI-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadE-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadE-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadF-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadF-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadH-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadH-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadD-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadD-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadC-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadC-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadB-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadB-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadA-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadA-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadG-Column2-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadG-Column2-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadI-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadI-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadE-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadE-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadF-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadF-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadH-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadH-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadD-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
	border-bottom-width: 0px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-140-35-auto-HeadD-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadC-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadC-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadB-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadB-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadA-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadA-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-HeadG-Column3-Header1
{
	padding-right: 10px;
	padding-top: 10px;
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: left;
	vertical-align: bottom;
	background-color: #79756a;
	padding-bottom: 3px;
}

.TableStyle-140-35-auto-HeadG-Column3-Header1 p
{
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
}

.TableStyle-140-35-auto-FootI-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-FootI-Column1- p
{
	
}

.TableStyle-140-35-auto-FootE-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-FootE-Column1- p
{
	
}

.TableStyle-140-35-auto-FootF-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-FootF-Column1- p
{
	
}

.TableStyle-140-35-auto-FootH-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-FootH-Column1- p
{
	
}

.TableStyle-140-35-auto-FootD-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-FootD-Column1- p
{
	
}

.TableStyle-140-35-auto-FootC-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-FootC-Column1- p
{
	
}

.TableStyle-140-35-auto-FootB-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-FootB-Column1- p
{
	
}

.TableStyle-140-35-auto-FootA-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-FootA-Column1- p
{
	
}

.TableStyle-140-35-auto-FootG-Column1-
{
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-FootG-Column1- p
{
	
}

.TableStyle-140-35-auto-FootI-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootI-Column2- p
{
	
}

.TableStyle-140-35-auto-FootE-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootE-Column2- p
{
	
}

.TableStyle-140-35-auto-FootF-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootF-Column2- p
{
	
}

.TableStyle-140-35-auto-FootH-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootH-Column2- p
{
	
}

.TableStyle-140-35-auto-FootD-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootD-Column2- p
{
	
}

.TableStyle-140-35-auto-FootC-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootC-Column2- p
{
	
}

.TableStyle-140-35-auto-FootB-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootB-Column2- p
{
	
}

.TableStyle-140-35-auto-FootA-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootA-Column2- p
{
	
}

.TableStyle-140-35-auto-FootG-Column2-
{
	padding-right: 10px;
	padding-bottom: 0px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootG-Column2- p
{
	
}

.TableStyle-140-35-auto-FootI-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootI-Column3- p
{
	
}

.TableStyle-140-35-auto-FootE-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootE-Column3- p
{
	
}

.TableStyle-140-35-auto-FootF-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootF-Column3- p
{
	
}

.TableStyle-140-35-auto-FootH-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootH-Column3- p
{
	
}

.TableStyle-140-35-auto-FootD-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootD-Column3- p
{
	
}

.TableStyle-140-35-auto-FootC-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootC-Column3- p
{
	
}

.TableStyle-140-35-auto-FootB-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootB-Column3- p
{
	
}

.TableStyle-140-35-auto-FootA-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootA-Column3- p
{
	
}

.TableStyle-140-35-auto-FootG-Column3-
{
	padding-right: 10px;
	padding-bottom: 0px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-FootG-Column3- p
{
	
}

.TableStyle-140-35-auto-Body-Body1
{
	
}

.TableStyle-140-35-auto-BodyI-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyI-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyE-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-BodyE-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyF-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyF-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyH-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-BodyH-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyD-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyD-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyC-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyC-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyB-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-BodyB-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyA-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyA-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyG-Column1-Body1
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyG-Column1-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyI-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyI-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyE-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyE-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyF-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyF-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyH-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyH-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyD-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyD-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyC-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyC-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyB-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyB-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyA-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyA-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyG-Column2-Body1
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyG-Column2-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyI-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyI-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyE-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyE-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyF-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyF-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyH-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyH-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyD-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyD-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyC-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyC-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyB-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyB-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyA-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyA-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-BodyG-Column3-Body1
{
	padding-right: 10px;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyG-Column3-Body1 p
{
	
}

.TableStyle-140-35-auto-Body-Body2
{
	
}

.TableStyle-140-35-auto-BodyI-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyI-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyE-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-BodyE-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyF-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyF-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyH-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-BodyH-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyD-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyD-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyC-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyC-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyB-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-140-35-auto-BodyB-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyA-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyA-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyG-Column1-Body2
{
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
}

.TableStyle-140-35-auto-BodyG-Column1-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyI-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyI-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyE-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyE-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyF-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyF-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyH-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyH-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyD-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyD-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyC-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyC-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyB-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyB-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyA-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyA-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyG-Column2-Body2
{
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	vertical-align: top;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyG-Column2-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyI-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyI-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyE-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyE-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyF-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyF-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyH-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyH-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyD-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #989287;
	border-bottom-style: none;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyD-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyC-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyC-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyB-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyB-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyA-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyA-Column3-Body2 p
{
	
}

.TableStyle-140-35-auto-BodyG-Column3-Body2
{
	padding-right: 10px;
	text-align: left;
	vertical-align: top;
	padding-bottom: 5px;
	padding-top: 10px;
}

.TableStyle-140-35-auto-BodyG-Column3-Body2 p
{
	
}


