/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		cell-padding-left: 1.5em;
		cell-padding-right: 1.5em;
		cell-padding-top: 0.5em;
		cell-padding-bottom: 0.75em;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: ScenarioBox;
	border-collapse: collapse;
	border: 1px solid #7b756b;
	max-id: 5;
	cell-padding-right: 1.5em;
	margin-bottom: 2em;
	margin-top: 2em;
	cell-padding: 10px;
	page-break-inside: avoid;
	background-color: #f3eddf;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #676056;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #676056;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #676056;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #676056;
	cell-padding-left: 1.5em;
	cell-padding-top: 0.5em;
	cell-padding-bottom: 0.750em;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	size: 100%;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	id: 5;
	name: Header1;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-top: 10px;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-ScenarioBox
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-ScenarioBox-HeadI-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadE-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadF-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadH-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadD-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadC-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadB-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadA-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-HeadG-Column2-Header1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootI-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootE-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootF-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootH-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootD-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootC-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootB-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootA-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-FootG-Column2-
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-top: 0.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyI-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyE-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyF-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyH-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyD-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyC-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyB-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyA-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}

	.TableStyle-ScenarioBox-BodyG-Column2-Body1
	{
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 0.75em;
	}
}

.TableStyle-ScenarioBox
{
	border-collapse: collapse;
	background-color: #f3eddf;
	border-left-style: solid;
	border-left-color: #676056;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #676056;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #676056;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #676056;
	border-bottom-width: 1px;
	margin-top: 2em;
	margin-bottom: 2em;
	page-break-inside: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-ScenarioBox-Column-Column2
{
	width: 100%;
}

.TableStyle-ScenarioBox-Head-Header1
{
	
}

.TableStyle-ScenarioBox-HeadI-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadI-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadE-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadE-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadF-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadF-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadH-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadH-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadD-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadD-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadC-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadC-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadB-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadB-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadA-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadA-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-HeadG-Column2-Header1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-HeadG-Column2-Header1 p
{
	
}

.TableStyle-ScenarioBox-FootI-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootI-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootE-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootE-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootF-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootF-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootH-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootH-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootD-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootD-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootC-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootC-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootB-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootB-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootA-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootA-Column2- p
{
	
}

.TableStyle-ScenarioBox-FootG-Column2-
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-FootG-Column2- p
{
	
}

.TableStyle-ScenarioBox-Body-Body1
{
	
}

.TableStyle-ScenarioBox-BodyI-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyI-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyE-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyE-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyF-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyF-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyH-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyH-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyD-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyD-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyC-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyC-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyB-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyB-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyA-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyA-Column2-Body1 p
{
	font-weight: normal;
}

.TableStyle-ScenarioBox-BodyG-Column2-Body1
{
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 0.75em;
	font-weight: normal;
	padding-top: 10px;
	text-align: left;
	vertical-align: top;
}

.TableStyle-ScenarioBox-BodyG-Column2-Body1 p
{
	font-weight: normal;
}


